@{
    ViewBag.Title = "Home Page";
}

<div id="header">
    <div id="header-table">
        <table>
            <thead>
                <tr>
                    <th class="month">AUGUST</th>
                    <th class="date">18.8.2014</th>
                    <th class="menu-button"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="main">
    http://www.codeproject.com/Tips/844709/Pivot-Table-Using-Linq-Entity-and-SQL-Server-R-for
    <div id="main-table">
        <table>
            <thead>
                <tr>
                    <th class="odd" style="width: 50px;" >Skupaj EUR</th>
                    <th>312</th>
                    <th class="odd">35,00</th>
                    <th>23</th>
                    <th class="odd">7,37</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 50px;">JÄGERMEISTER</td>
                    <td>55</td>
                    <td>19</td>
                    <td>13</td>
                    <td>23,66</td>
                </tr>
                <tr>
                    <td>Jack Daniels</td>
                    <td>54</td>
                    <td>18</td>
                    <td>12</td>
                    <td>22,66</td>
                </tr>
                <tr>
                    <td>Black Label</td>
                    <td>56</td>
                    <td>20</td>
                    <td>15</td>
                    <td>25,66</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>