@{
    ViewBag.Title = "Home Page";
}

<div id="header">
    <div id="header-table">
        <table>
            <thead>
                <tr>
                    <th class="month">AUGUST</th>
                    <th class="date">18.8.2014</th>
                    <th class="menu-button"></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<div id="body">
    <table>
        <thead>
            <tr>
                <th>Skupaj EUR</th>
                <th>312</th>
                <th>35,00</th>
                <th>23</th>
                <th>7,37</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>JÄGERMEISTER</td>
                <td>55</td>
                <td>19</td>
                <td>13</td>
                <td>23,66</td>        
            </tr>
            <tr>
                <td>JÄGERMEISTER</td>
                <td>55</td>
                <td>19</td>
                <td>13</td>
                <td>23,66</td>
            </tr>
            <tr>
                <td>JÄGERMEISTER</td>
                <td>55</td>
                <td>19</td>
                <td>13</td>
                <td>23,66</td>
            </tr>
        </tbody>
    </table>
</div>